<table matSort (matSortChange)="sortData($event)" class="table table-hover">
  <thead>
  <tr>
      <td mat-sort-header="firstName">First Name</td>
      <td mat-sort-header="lastName">Last Name</td>
      <td mat-sort-header="email">Email</td>
      <td colspan="2">Actions</td>
  </tr>
  </thead>

  <tbody>
      <tr *ngFor="let user of users">
          <td>{{ user.firstName }}</td>
          <td>{{ user.lastName }}</td>
          <td>{{ user.email }}</td>
          <td><a [routerLink]="['/edit', user.id]" class="btn btn-primary">Edit</a></td>
          <td><button (click)="deleteUser(user.id)"  class="btn btn-danger">Delete</button></td>
      </tr>
  </tbody>
</table>

<mat-paginator [length]="length"
              [pageSize]="pageSize"
              [pageSizeOptions]="pageSizeOptions"
              (page)="pageEvent = paginateUsers($event)">
</mat-paginator>